img {
  width: 100%;
  height: auto;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
  border: 5px solid #fff;
  border-radius: 10px;
}

img:hover {
  border: 5px solid #e50914;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

h1 {
  font-weight: bold;
  color: white;
}

p {
  color: white;
}

a {
  background-color: #e50914;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: 0.5s ;
  border: 2px solid #fff;
}

a:hover {
  color: #e50914;
  background-color: #fff;
  border: 2px solid #e50914;
}
